
<div class="jumbotron">
  <form>

      <div class="form-group">
      <label for="user">Enter User Name</label>
      <input [(ngModel)]="userName" type="text"   name="user" id="user" class="form-control" >
      </div>

      <div class="form-group">
        <label for="pass">Enter PassWord </label>
        <input [(ngModel)]="userPass" type="password" name="pass" id="pass" class="form-control">
      </div>
    <button  (click)="validate()" type="submit">Login</button>
    <button  (click)="signup()" type="submit">Signup</button>

  </form>
</div>
